.Recipe {
  background-color: var(--color-grey-light-1);
}

.Figure {
  height: 32rem;
  position: relative;
  transform-origin: top;
}

.Figure::before {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right bottom,
    var(--color-grad-1),
    var(--color-grad-2)
  );
  opacity: 0.6;
}

.Image {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.Title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 20%) skewY(-6deg);
  color: #fff;
  font-weight: 700;
  font-size: 3.25rem;
  text-transform: uppercase;
  width: 50%;
  line-height: 1.95;
  text-align: center;
}

@media only screen and (max-width: 61.25em) {
  .Title {
    width: 70%;
  }
}

.Title span {
  box-decoration-break: clone;
  padding: 1.3rem 2rem;
  background-image: linear-gradient(
    to right bottom,
    var(--color-grad-1),
    var(--color-grad-2)
  );
}

.Details {
  display: flex;
  align-items: center;
  padding: 7.5rem 8rem 3.5rem 8rem;
}

.Info {
  font-size: 1.65rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.Info:not(:last-child) {
  margin-right: 4.5rem;
}

.Info svg {
  height: 2.35rem;
  width: 2.35rem;
  fill: var(--color-primary);
  margin-right: 1.15rem;
}

.InfoData {
  margin-right: 0.5rem;
  font-weight: 700;
}

.Btns {
  display: flex;
  margin-left: 1.6rem;
  transform: translateY(-1px);
}

.BtnDirections {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.25rem 2.25rem;
  text-decoration: none;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.BtnDirections span {
  margin-right: 1rem;
}

.BtnDirections svg {
  height: 1.75rem;
  width: 1.75rem;
  fill: currentColor;
}

.Btn {
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.Btn:hover {
  transform: translateY(-2px);
}

.Btn svg {
  width: 2rem;
  height: 2rem;
}

.UserGenerated {
  background-color: #eeeae8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border-radius: 10rem;
  margin-left: auto;
  margin-right: 1.75rem;
}

.UserGenerated svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-primary);
}

.BtnRound {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BtnRound:hover {
  transform: scale(1.1);
}

.BtnRound svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: #fff;
}

.Ingredients {
  padding: 5rem 8rem;
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: var(--color-grey-light-2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Ingredients h2,
.Directions h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #f38e82;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
}

.Ingredients svg {
  height: 2rem;
  width: 2rem;
  fill: var(--color-primary);
  margin-right: 1.1rem;
  flex: 0 0 auto;
  margin-top: 0.1rem;
}

.IngredientList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem 3rem;
  list-style: none;
}

.Ingredient {
  display: flex;
}

.Quantity {
  margin-right: 0.5rem;
  flex: 0 0 auto;
}

.Directions {
  padding: 5rem 10rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DirectionsText {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 3.5rem;
  color: var(--color-grey-dark-2);
}

.Publisher {
  font-weight: 700;
}
